<head>
    <meta name ="viewport" content ="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h2>Web Application for database SQlite</h2>
        <p>Welcome, please select the buttons: </p>
        <a href="/paynow">
            <button type="button">Transfer Money</button>
        </a>
        <a href="/add_user">
            <button type="button">Add new user</button>
        </a>
        <a href="/user_log">
            <button type="button">View User Log</button>
        </a>
        <a href="/delete_log">
            <button type="button">Delete User Log</button>
        </a>

         <a href="/prediction">
            <button type="button">Prediction</button>
        </a>

         <a href="/gemini">
            <button type="button">Ask Gemini</button>
        </a>

         <a href="/start_telegram">
            <button type="button">Start Telegram</button>
        </a>

         <a href="/stop_telegram">
            <button type="button">Stop Telegram</button>
        </a>

        <a href="/">
        <button type="button">Logout</button>
        </a>
    </div>
</body>