<head>
    <meta name ="viewport" content ="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h2>Login Page - Web Application</h2>
        <form action="/index" method="post">
            <p>Please provide user name: </p>
            <input type = "text" name="q" placeholder="Enter name">           
            <input type="submit" value="Submit" class="custom-submit">
        </form>
    </div>
</body>